@charset "utf-8";
*{
	margin: 0px;
	padding: 0px;
	text-decoration:none;
	font: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
body{
	background-color: #c2e8f2;
}
#Menu h1{
	float: left;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: block;
	margin: -9px;
	padding: 10px;
	color: white;
}

#Menu{
	background-color: #053E58;
	height: 35pt;
	padding: 7px;
	margin-bottom: 10px;
	overflow:hidden;
}
#Menu ul{
	text-align: center;
	padding: 0px;
	margin: 0px;
	margin-right: 150px;
	list-style: none;
}
#Menu ul li{
	display: inline-block;
}
#Menu ul li a {
	margin-top: 7pt;
    padding: 8px 20px;
	display:inline-block;
    color: #fff;
	text-decoration: none;
	border-radius: 5px;
	margin-right: 2px;
}

#Menu ul li a:hover{
	transition: linear 0.5s;
	background-color: #032636;
}
#Interface{
	width: 98%;
	margin: auto;
	
}
#Principal{
	background-color: #148AB6;
	height: 300pt;
	width: 100%;
	margin: auto;
	padding: 5px;
	margin-bottom: 50px;
}
.Container{
	width: 100%;
	margin:10px ;

}
.Bloco{
	padding: 10px;
	color: white;
	float: left;
	width: 19.5%;
	height: 360px;
	background-color:rgba(10, 69, 90,0.5) ;
	margin-left: 159px;
	border-radius: 15px;
	text-align: center;
}
.Bloco img{
	width: 320px;
	height: auto;
	cursor: pointer;
}
.Bloco p{
	text-align: justify;
	padding: 8px;
	text-indent: 18px;
}
.Bloco p a:visited,.Bloco p a:link,.Conteudo p a:link,.Conteudo p a:visited{
	color: white;
}
.Bloco p a:hover{
	text-decoration-line: underline;
	color: lightblue;
}
.Bloco img:hover{
	transition: linear 0.05s;
	width: 340px;
}
.Tags-Principais{
	font-weight: bold;
	font-style: italic;
}
#Interface #Conteudos{
	margin: auto;
	float: left;
	background-color: #4f99ab;
	width: 70%;
	color: white;
	padding: 10px;

}
#Conteudos h1{
	margin-left: 10px;

}

#Conteudos .Conteudo{
	background-color: #41c7e8;
	width: 95%;
	margin: auto;
	border: solid 2px white;
	border-radius: 5px;
	padding: 12px;
}
.Conteudo{
	overflow: hidden;
}
.Conteudo h2{
	text-align: center;
}

.Conteudo img{
	position: relative;
	width: 24%;
	height: auto;
	float: left;
	margin-right: 19px;
	margin-bottom: 5px;
	margin-left: 8px;
	margin-top: 15px	;
}
.Conteudo p{
	font-size: 22px;
	text-align: justify;
	text-indent: 50px;
	padding: 7px;
}
#Lateral{
	float :right;
	background-color: #4f99ab;
	width: 22%;
	color:white;
	padding: 10px;
}
#Lateral .Conteudo{
	background-color: #41c7e8;
	width: 90%;
	margin: auto;
	border: solid 2px white;
	border-radius: 5px;
	padding: 12px;
}

.title{
	float: left;
	margin-top: 20px;
}

.titulo{
	text-align: center;
	margin-left: 200px;
	width: 900px;
	font-family: arial, sans-serif;
}

.texto{
	text-align: left;
	margin-left: 200px;
	margin-top: 15px;
	width: 900px;
	font-family: arial, sans-serif;
	font-size: 25px
}