@charset "utf-8";
*{
	margin: 0px;
	padding: 0px;
	text-decoration:none;
	font-family: 'Roboto', sans-serif ;
}
body{
	background: #D2EAF2;
}
#Menu h1{
	float: left;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: block;
	margin: -10px;
	padding: 10px;
}
#Menu h1 a{
	color: white;
	padding: 5px;
}
#Menu{
	background-color: #B0210E;
	height: 38pt;
	width: 100%;
	margin: auto;
}
#Menu ul{
	text-align: center;
	padding: 0;
	margin-right: 150px;
	list-style: none;
}
#Menu ul li{
	display: inline-block;
}
#Menu ul li a {
	margin-top: 7pt;
    padding: 8px 20px;
	display:inline-block;
    color: #fff;
	text-decoration: none;
	border-radius: 5px;
	margin-right: 2px;
}

#Menu ul li a:hover{
	transition: linear 0.5s;
	background-color: #b53933;
}
#Interface{
	width: 90%;
	margin: auto;

}
#Principal{
	background-color: #15598A;
	height: 300pt;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 50px;
}
.Container{
	width: 100%;
	margin:5px ;

}
.Bloco{
	padding-top: 10px;
	padding-bottom: 28px;
	color: white;
	float: left;
	width: 20%;
	height: 360px;
	background-color: rgba(43, 117, 190, 0.6);
	margin-left: 159px;
	border-radius: 15px;
	text-align: center;
}
.Bloco img{
	width:95%;
	height: auto;
	cursor: pointer;
}
.Bloco p{
	text-align: justify;
	padding: 15px;
	text-indent: 18px;
}
.Bloco p a:visited,.Bloco p a:link,.Conteudo p a:link,.Conteudo p a:visited{
	color: white;
}
.Bloco p a:hover{
	text-decoration-line: underline;
	color: lightblue;
}
.Bloco img:hover{
	transition: linear 0.1s;
	width: 98%;
}
.Tags-Principais{
	font-weight: bold;
	font-style: italic;
}
#Interface #Conteudos{
	margin: auto;
	background-color: #15598A;
	width: 100%;
	color: rgba(6, 6, 6, 0.91);
	padding-top: 10px;
	padding-bottom: 10px;
}

#Conteudos h1{
	margin-left: 10px;
}
img{
	position: static;
}
#Conteudos .Conteudo{

	position: static;
	background-color: #8fd1f2;
	width: 80%;
	margin: auto;
	border: solid 3px white;
	border-radius: 10px;
	padding: 12px;
	margin-bottom: 50px;
	margin-top: 30px;
}
.Conteudo{
	overflow: hidden;

}
.Conteudo h2{
	text-align: center;
}

.Conteudo img{
	position: relative;
	width: 24%;
	height: auto;
	float: left;
	margin-right: 19px;
	margin-bottom: 5px;
	margin-left: 8px;
	margin-top: 15px	;
}
.Conteudo p{
	font-size: 22px;
	text-align: justify;
	text-indent: 50px;
	padding: 7px;
}

.title{
	margin-top: 20px;
	float: left;
}

.titulo{
	margin-top: 30px;
	text-align: center;
	margin-left: 200px;
	width: 900px;
	font-family: arial, sans-serif;
}

.texto{
	text-align: left;
	margin-left: 200px;
	margin-top: 15px;
	width: 900px;
	font-family: arial, sans-serif;
	font-size: 25px
}

.subtexto p{
	margin-top: 20px;
	width: 300px;
	float: right;
	margin-right: 15px;
	text-align: left;
	font-family: arial;
	font-size: 20px;
}
.imagem{
	margin-top: 20px;
	margin-left: 350px;
	margin-right: 300px;
}

#Rodape{
	color: #c8c8c8;
	margin-top: 20px;
	padding: 15px;
	text-align: center;
	font-family: 'Anton', sans-serif ;
	background-color: #15598A;
	font-size:30px;
}
form{
	width: 70%;
	margin: auto;

}
#nome, #email{
	width: 100%;
	height: 30px;
	font-size: 19px;
	border-radius: 10px;
	border: none;
	padding: 5px;
	margin-bottom: 30px;
	color: gray;
}
#cmbAss{
	width: 25%;
	font-size: 20px;
	color: gray;
	margin-bottom: 30px;
	padding: 5px;
}

#conteudo-msg{
	color: gray;
	width: 100%;
	min-width: 80%;
	max-width: 100%;
	min-height: 300px;
	max-height: 400px;
	padding: 5px;
	font-size: 18px;
	margin-bottom: 30px;

}
button{
	padding: 12px;
	width: 90px;
	border: none;
	background-color: rgb(56, 150, 228);
	color: white;
	cursor: pointer;

div a:visited{
	text-decoration: none;
	color:black;
}